name: PHPStan

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    phpstan:
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash
        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.5'

            -   name: Install dependencies
                uses: ramsey/composer-install@v3

            -   name: Warmup Symfony cache for PHPStan
                run: php bin/console cache:warmup
                env:
                    APP_ENV: test

            -   name: Run PHPStan
                run: vendor/bin/phpstan analyse
